{% extends 'server/master.html' %}

{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/list.css' %}">
{% endblock %}

{% block page_content %}

<h1> Категории продуктов: </h1>
<div class="products">
    {% for object in object_list1 %}
        <div class="products__item">
        <span class="products__item-name">
            {{ object.name|default:"По умолчанию"|title }}
        </span>
        
    </div>
    {% endfor %}
</div>

<h1> Товары: </h1>
<div class="products">

    {% for object in object_list %}
    <div class="products__item">
        <span class="products__item-name">
            {{ object.name|default:"По умолчанию"|title }}
        </span>
        <span class="products__item-name">
            {{ object.category|default:"---"|title }}
        </span>
        <span class="products__item-description">
            {{ object.description }}
        </span>
        {% if object.cost %}
        <span class="products__item-cost">
            {{ object.cost }}
        </span>
        {% else %}
        <span class="products__item-cost products__item-cost_empty">
            Значение отсутствует
        </span>
        {% endif %}
        
        <a href="{% url 'detail' pk=object.id %}" class="products__item-link">
            Ссылка на {{ object.name|lower }}
        </a>
      </div>
          <a href="{% url 'basket:add' pk=object.id %}"> <img src="{% static 'products/img/buy.png' %}" width=50 height=50 /> </a>

    
    {% endfor %}
</div>
{% endblock %}