<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body>
{% include 'main/inc_menu.html' %}
{% include 'main/inc_menu_f.html' %}  
{% include 'main/inc_content.html' %}
{% include 'main/inc_footer.html' %}

</body>

</html>
